node_modules/.package-lock.json
node_modules/.bin/cross-env
node_modules/.bin/cross-env-shell
node_modules/.bin/node-which
node_modules/cross-env/CHANGELOG.md
node_modules/cross-env/LICENSE
node_modules/cross-env/package.json
node_modules/cross-env/README.md
node_modules/cross-env/src/command.js
node_modules/cross-env/src/index.js
node_modules/cross-env/src/is-windows.js
node_modules/cross-env/src/variable.js
node_modules/cross-env/src/bin/cross-env-shell.js
node_modules/cross-env/src/bin/cross-env.js
node_modules/cross-spawn/CHANGELOG.md
node_modules/cross-spawn/index.js
node_modules/cross-spawn/LICENSE
node_modules/cross-spawn/package.json
node_modules/cross-spawn/README.md
node_modules/cross-spawn/lib/enoent.js
node_modules/cross-spawn/lib/parse.js
node_modules/cross-spawn/lib/util/escape.js
node_modules/cross-spawn/lib/util/readShebang.js
node_modules/cross-spawn/lib/util/resolveCommand.js
node_modules/isexe/.npmignore
node_modules/isexe/index.js
node_modules/isexe/LICENSE
node_modules/isexe/mode.js
node_modules/isexe/package.json
node_modules/isexe/README.md
node_modules/isexe/windows.js
node_modules/isexe/test/basic.js
node_modules/path-key/index.d.ts
node_modules/path-key/index.js
node_modules/path-key/license
node_modules/path-key/package.json
node_modules/path-key/readme.md
node_modules/shebang-command/index.js
node_modules/shebang-command/license
node_modules/shebang-command/package.json
node_modules/shebang-command/readme.md
node_modules/shebang-regex/index.d.ts
node_modules/shebang-regex/index.js
node_modules/shebang-regex/license
node_modules/shebang-regex/package.json
node_modules/shebang-regex/readme.md
node_modules/which/CHANGELOG.md
node_modules/which/LICENSE
node_modules/which/package.json
node_modules/which/README.md
node_modules/which/which.js
node_modules/which/bin/node-which
